/* display */

  html {
    background: rgb(0, 0, 7);
    background: linear-gradient(50deg, rgb(65, 56, 56)59) 0%, rgb(96, 96, 109) 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-size: cover;
  }

  /* Buttons */

  .btn {
    background-color: #ff0000;
    border-radius: 4px;
    color: black;
    padding: 12px 12px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #d609dd;
    color: white;
  }

/* Text Colors */

h1 {
	color: #00ffd5;
}
h2 {
	color: #00b7ff;
}
h3 {
	color: #ffffff;
}
h4 {
	color: #ffffff;
}
p {
	color: rgb(255, 255, 255)
}

/* Links Colors */

A {
    color: rgb(255, 255, 255);
   }
   A:visited {
    color: #ffffff;
   }
   A:active {
    color: #ffffff;
   }

/* Font */
body {
  font-family: 'Comfortaa', cursive;
}

/* Fixed Button ShutDown */

body {
  /* Убираем отступы у body, чтобы кнопка занимала всю высоту и ширину экрана */
  margin: 0;
  padding: 0;
}

.fixed-button {
  position: fixed; /* Делаем элемент фиксированным */
  bottom: 0; /* Располагаем его внизу */
  left: 0; /* Располагаем его влево */
  padding: 10px; /* Добавляем немного отступов, чтобы кнопка была видна */
}

button {
  /* Стилизуем кнопку, вы можете настроить стили под свои предпочтения */
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

/* Menu Btn */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}