/* display */

  html {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,95,255,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-size: cover;
  }

  /* Buttons */

  .btn {
    background-color: #4b048d;
    border: none;
    color: rgb(107, 9, 199);
    padding: 10px 13px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background-color: #a20ac0fd;
    color: rgb(163, 6, 6);
  }

/* Text Colors */

h1 {
	color: #ffffff;
}
h2 {
	color: #ffffff;
}
h3 {
	color: #ffffff;
}
h4 {
	color: #ffffff;
}
p {
	color: rgb(255, 255, 255)
}

/* Links Colors */

A {
    color: rgb(217, 255, 2);
   }
   A:visited {
    color: #eeff00;
   }
   A:active {
    color: #ffff00;
   }

/* Font */
body {
  font-family: 'Exo 2', cursive;
}

#donate {
  font-size: 40px;
}

a {
  font-family: "Exo 2", cursive;
}